.rounded-red {
    -moz-border-radius:3px 3px 3px 3px;
    border-radius:3px 3px 3px 3px;
    border:solid 0.5px lightgray;
    background-color:#BD362F;
    color: white;
}

.label-as-badge {
    border-radius: 1em;
    background-color:#0088CC;
}

.rounded-gray {
    -moz-border-radius:3px 3px 3px 3px;
    border-radius:3px 3px 3px 3px;
    border:solid 0.5px lightgray;
    background-color:lightgray;
}

.no-highlight {
    background-color:transparent;
    color: black;
}

.rounded-orange {
    -moz-border-radius:3px 3px 3px 3px;
    border-radius:3px 3px 3px 3px;
    border:solid 0.5px lightgray;
    background-color:#F89406;
    color: white;
}

.rounded-green {
    -moz-border-radius:3px 3px 3px 3px;
    border-radius:3px 3px 3px 3px;
    border:solid 0.5px lightgray;
    background-color:#51A351;
    color: white;
}

.rounded-blue {
    -moz-border-radius:3px 3px 3px 3px;
    border-radius:3px 3px 3px 3px;
    border:solid 0.5px lightgray;
    background-color:#0088CC;
    color: white;
}

.htext {
    color: black;
    font-size: larger;
}

button {
    height: 14px;
    width: 75px;
    font-size: 9px;
    border-radius:3px 3px 3px 3px;
    border:solid 0.5px lightgray;
    background-color:#ff6600;
    cursor: pointer;
    color: white;
}
